// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Type sizes
// -----------------------------------------------------------------------------
$vars_type: (
      'h1': 2.5rem,
      'h2': 2rem,
      'h3': 1.5rem,
      'h4': 1.05rem,
      'p': 1.05rem,
    )
    @each $type,
  $size in $vars_type {
  #{$type} {
    font-size: $size;
  }
}

// Colors
// -----------------------------------------------------------------------------
$vars_color: (
  'brand-blue': #40a9bf,
  // hsl: 190/50/50
  'brand-grey': #2d2d2d,
  // hsl: 0/0/18
);

/// TODO:
/**
* From Kevin Powell 
* https://github.com/kevin-powell/demo-starter-template-with-sass
*/
// @each $color,
// $shade in $colors {

//   @each $prop,
//   $value in $shade {
//     .text-#{$color}-#{$prop} {
//       color: var(--clr-#{$color}-#{$prop}) !important;
//     }

//     .bg-#{$color}-#{$prop} {
//       background-color: var(--clr-#{$color}-#{$prop}) !important;
//     }
//   }
// }

// Breakpoints
// -----------------------------------------------------------------------------
$vars_bkp: (
  'sm': 360px,
  'md': 768px,
  'lg': 1024px,
);

/// Layout
// -----------------------------------------------------------------------------

/// Container's maximum width
$vars_ctn-maxWidth: 1200px;

// Utility Vars
// -----------------------------------------------------------------------------

/// Relative or absolute URL where all assets are served from
/// External: 'http://cdn.example.com/assets/';
$vars_url-assets: '/assets/';
