################################################################################
# Node
################################################################################

node_modules
package.json

################################################################################
# Compiled Directories & Files
################################################################################

dist
public