# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# settings
settings.json
*.code-profile

# OS files
**/.DS_Store

# dependencies
node_modules/

# private folders and files
certs/
.env
.cache

# development folders
dev/
dist/

# project folders and files
src/boilerplate/
archive/
**/test/
**/sources/
docs/*.tree
**/NOTES.md

package/

# ignore files adding -nogit
*-nogit*