@import "https://unpkg.com/plasttic-reset@2.0";
/*! Plasttic v2.1 | MIT License | https://plasttic.dev/ */
/* --- PAGES --- */
/* --- TEMPLATES --- */
/* --- ORGANISMS --- */
/* --- MOLECULES --- */
/* --- ATOMS --- */
/* --- TOKENS --- */
/* --- COMPONENTS --- */
/* --- UTILITY --- */
/* --- RESET --- */
/**
  * 00_reset.css
  *
  * INDEX
  * -----
  *
  * Customize values from plasttic-reset 
  * (global scope)
  *
  */
:root {
  --ptt-reset-focus-color: var(--ptt-clr-primary-300);
}
/**
  * 10_utility.css
  *
  * INDEX
  * -----
  *
  * Print-only/no................Extends print.css
  * 
  * Notes: 
  * Self contained, not dependent of the design system. 
  * Naming prefix: .ptt-u-
  *
  */
/* ==========================================================================
   Utility
   ========================================================================== */
/**
  * PRINT-ONLY / PRINT-NO
  * Extends print.css
  * ptt-u-print-only: Hide elements/sections until print
  * ptt-u-print-no: Items to hide from print
  */
.ptt-u-print-only {
  display: none !important;
  /* stylelint-disable-next-line declaration-no-important */
}
.ptt-u-print-no {
  /* hide section when printing
    Class properties are defined on print.css
    and applied when printing */
}
/**
  * 20_components.css
  *
  * INDEX
  * -----
  *
  * Hidden Link..........Jump to Content
  *
  * Notes: 
  * Self contained, not dependent of the design system
  * Naming prefix: .ptt-c-
  *
  */
/* ==========================================================================
   Components
   ========================================================================== */
/** 
  * HIDDEN LINK
  * allows screen reader and keyboard users 
  * to skip navigation and jump to content
  *
  * More: https://www.accessguide.io/guide/skip-link
  */
/* <a class="ptt-c-hidden-link" href="#start">Jump to Content</a> */
.ptt-c-hidden-link {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  transform: translateY(-120%);
}
.ptt-c-hidden-link:active,
.ptt-c-hidden-link:focus {
  width: auto;
  height: auto;
  position: relative;
  left: auto;
}
/**
  * 30_tokens.css
  *
  * INDEX
  * -----
  *
  * LOAD FONTS................Self hosted fonts
  *
  * TOKENS (:root)
  * Colors
  * Font
  * Text
  * Box Model
  * 
  * Breakpoints
  *
  * TYPOGRAPHY TOKENS...........Extends Font and Text
  * 
  */
/* ==========================================================================
   Load Fonts
   ========================================================================== */
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto-latin-300-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto-latin-400-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto-latin-500-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
/* ==========================================================================
   Tokens
   ========================================================================== */
:root {
  /**
    * COLORS
    * Shade number classification light to dark
    * 500 is the main color; shades from 100-900
    * Optional: create middle values like 650
    * Primary and Secondary usually are the brand colors
    * Theme colors can be changed on page specific styles
    */

  /* Neutral */
  --ptt-clr-neutral-100: hsl(0 0% 100%); /* white */
  --ptt-clr-neutral-200: hsl(0 0% 87.5%);
  --ptt-clr-neutral-300: hsl(0 0% 75%);
  --ptt-clr-neutral-400: hsl(0 0% 62.5%);
  --ptt-clr-neutral-500: hsl(0 0% 50%);
  --ptt-clr-neutral-600: hsl(0 0% 37.5%);
  --ptt-clr-neutral-700: hsl(0 0% 25%);
  --ptt-clr-neutral-800: hsl(0 0% 12.5%);
  --ptt-clr-neutral-900: hsl(0 0% 0%); /* black */

  /* Primary (Brand) */
  --ptt-clr-primary-100: hsl(191 50% 87%);
  --ptt-clr-primary-300: hsl(190 50% 59%);
  --ptt-clr-primary-400: hsl(190 50% 35%);
  --ptt-clr-primary-800: hsl(192 41% 20%);

  /* Secondary */
  --ptt-clr-secondary-400: var(---ptt-clr-neutral-800);

  /* Complementary */
  --ptt-clr-complement-red-400: hsl(348 68% 42%);

  /* Utility */
  --ptt-clr-util-error-400: hsl(0 86% 38%);
  --ptt-clr-util-success-400: hsl(121 83% 33%);

  /* Backgrounds */
  --ptt-clr-bkg-body: var(--ptt-clr-neutral-100);
  --ptt-clr-bkg-nav: var(--ptt-clr-neutral-100);
  --ptt-clr-bkg-main: var(--ptt-clr-neutral-100); /* by section name */
  --ptt-clr-bkg-footer: var(--ptt-clr-neutral-100);

  /* Theme */

  /**
    * FONT
    * Family, Weights, Sizes
    */

  /* Font Families */
  --ptt-fnt-family-primary: "Roboto", sans-serif;

  /* Font- Weights */
  --ptt-fnt-weight-light: 300;
  --ptt-fnt-weight-regular: 400;
  --ptt-fnt-weight-bold: 500;

  /* Font- Sizes: 200: 14px, 400: 16px, 500: 20px,
      700nt-: 28px, 900: 36px */
  --ptt-fnt-size-100: 0.85rem;
  --ptt-fnt-size-200: 0.875rem;
  --ptt-fnt-size-400: 1rem;
  --ptt-fnt-size-500: 1.25rem;
  --ptt-fnt-size-700: 1.75rem;
  --ptt-fnt-size-900: 2.25rem;

  /**
    * TEXT
    * Line height, ...
    */

  /* Line Heights */
  --ptt-txt-line-height-100: 0.85;
  --ptt-txt-line-height-200: 1;
  --ptt-txt-line-height-300: 1.2;
  --ptt-txt-line-height-400: 1.45; /* default: reset.css */

  /**
    * BOX
    * Padding, margin
    */

  /* Padding */
  --ptt-padding-200: 0.75em;
  --ptt-padding-300: 0.9em;
  --ptt-padding-400: 1em;
  --ptt-padding-500: 1.1em;
  --ptt-padding-700: 1.5em;
  --ptt-padding-900: 2em;

  /* Margin */
  --ptt-margin-400: 1rem;
  --ptt-margin-600: 1.5rem;

  /* Border */
  --ptt-border-400: 1px solid;

  /* Border radius */
  --ptt-border-radius-400: 1rem;

  /**
    * GRID / FLEXBOX
    * Gap, 
    */

  /* Gap */
  --ptt-gap-400: 1rem;
  --ptt-gap-700: 2rem;
  /**
    * TYPOGRAPHY
    * Body, Headers, Navigation, Footer
    */

  /* Body */
  --ptt-fnt-family-body: var(--ptt-fnt-family-primary);
  --ptt-fnt-weight-body: var(--ptt-fnt-weight-light);
  --ptt-fnt-size-body: var(--ptt-fnt-size-400);

  /* Headers */
  --ptt-fnt-weight-header: var(--ptt-fnt-weight-bold);
  --ptt-fnt-size-header-h1: var(--ptt-fnt-size-700);
  --ptt-fnt-size-header-h2: var(--ptt-fnt-size-500);
  --ptt-txt-line-height-header: var(--ptt-txt-line-height-200);

  /* Navigation */
  --ptt-fnt-weight-primary-nav: var(--ptt-fnt-weight-regular);
  --ptt-fnt-size-primary-nav: var(--ptt-fnt-size-200);

  /* Footer */
  --ptt-fnt-weight-footer: var(--ptt-fnt-weight-regular);
  --ptt-fnt-size-footer: var(--ptt-fnt-size-200);
}
/**
  * BREAKPOINTS
  * Mobile, Tablet, Laptop, Desktop
  */
/* 30rem: 480px, 48rem: 768px, 62rem: 992px, 64rem: 1024px, 75rem: 1200px */
/* ==========================================================================
   Typography Tokens
   ========================================================================== */
/**
  * RESPONSIVE TYPOGRAPHY
  * Redefine Typography token values by Breakpoint
  * whenever needed
  */
/* Increase font sizes for desktop */
@media (min-width: 62rem) {
  :root {
    --ptt-fnt-size-body: var(--ptt-fnt-size-500);
    --ptt-fnt-size-header-h1: var(--ptt-fnt-size-900);
    --ptt-fnt-size-header-h2: var(--ptt-fnt-size-700);
    --ptt-fnt-size-primary-nav: var(--ptt-fnt-size-200);
    --ptt-fnt-size-footer: var(--ptt-fnt-size-200);
  }
}
/**
  * 40_atoms.css
  *
  * INDEX
  * -----
  *
  * Logos
  * Typography...........Extends Typography Tokens
  * Links and Buttons
  * Icons
  * 
  */
/* ==========================================================================
   Atoms
   ========================================================================== */
/* Logos
   ========================================================================== */
/**
    * ...
    * Main Nav Logo, Icon Logo, ... (size, color/b&w)
    */
/* Main Nav Logo

<img class="ptt-nav__logo" 
src="assets/img/logos/logo-horizontal.svg"
alt="Plasttic Home" /> 
*/
/* Dynamic sized Main Nav logo */
/* Typography
   ========================================================================== */
/**
    * HEADERS
    * h1, ...
    */
/* H1 headers

<h1>Main Title</h1> 
*/
/* H2 headers

<h2>Secondary Title</h2> 
*/
/* Links and Buttons
   ========================================================================== */
/**
    * LINKS
    * ...
    */
/* Links

<a href="">Link</a>
*/
/**
    * LINKS AS BUTTONS
    * Buttons, Links as buttons
    */
/* Rounded corners

  $background sets the button color
  Default: --ptt-clr-complement-red-400

  <a href="">Button</a>
*/
/* Icons
   ========================================================================== */
/**
    * SOCIAL ICONS
    * ...
    */
/**
  * 50_molecules.css
  *
  * INDEX
  * -----
  *
  * Navigation Menus
  * Social Icons Blocks
  * 
  */
/* ==========================================================================
   Molecules
   ========================================================================== */
/* Navigation Menus
   ========================================================================== */
/**
    * ...
    * Main menu, Hamburger Menu, Footer Menu, ...
    */
/* Social Icons Blocks
   ========================================================================== */
/**
    * ...
    * Horizontal, ...
    */
/**
  * 60_organisms.css
  *
  * INDEX
  * -----
  *
  * Top Navigation
  * Footer
  * Hero Section
  * 
  */
/* ==========================================================================
   Organisms
   ========================================================================== */
/* Top Navigation
   ========================================================================== */
/**
    * ...
    * Logo, Main Menu, ...
    */
/* Footer
   ========================================================================== */
/**
    * ...
    * Footer Menu, Copyright, Social Icons...
    */
/* Hero Section
   ========================================================================== */
/**
    * ...
    * Headline, Text, CTA, Image, ...
    */
/* ==========================================================================
   TO BE DEFINED IN ORGANISM
   ========================================================================== */
h1 {
  font-size: 1.75rem;
  font-size: var(--ptt-fnt-size-header-h1);
}
h1,
h2 {
  font-weight: 500;
  font-weight: var(--ptt-fnt-weight-header);
  line-height: 1;
  line-height: var(--ptt-txt-line-height-200);
}
h2 {
  font-size: 1.25rem;
  font-size: var(--ptt-fnt-size-header-h2);
}
nav {
  font-size: 0.875rem;
  font-size: var(--ptt-fnt-size-primary-nav);
}
a,
a:visited {
  color: hsl(0 0% 0%);
  color: var(--ptt-clr-neutral-900);
  font-weight: 500;
  font-weight: var(--ptt-fnt-weight-bold);
}
a:hover,
a:active,
a:focus-visible {
  color: hsl(348 68% 42%);
  color: var(--ptt-clr-complement-red-400);
}
/* p {
      font-size: var(--ptt-fnt-size-body);
    } */
/**
  * 70_templates.css
  *
  * INDEX
  * -----
  *
  * Temporary
  * Homepage
  * 
  */
/* ==========================================================================
   Templates
   ========================================================================== */
/* Global (Styling across templates)
   About: Prevent defining the same styling in every template. 
   Can be overwritten when needed.
   ========================================================================== */
/**
  * DEFAULT STYLING
  * Default template global values
  */
body {
  /* see 30_tokens.css */

  color: hsl(0 0% 12.5%);

  color: var(--ptt-clr-neutral-800);
  font-family: "Roboto", sans-serif;
  font-family: var(--ptt-fnt-family-body);
  font-weight: 300;
  font-weight: var(--ptt-fnt-weight-body);
  font-size: 1rem;
  font-size: var(--ptt-fnt-size-body);
  background: hsl(0 0% 100%);
  background: var(--ptt-clr-bkg-body);
}
/**
  * WRAPPER
  * Main layout definition
  */
.ptt-wrapper {
  margin-top: max(2vw, 1rem);
  margin-bottom: max(2vw, 1rem);
}
/**
  * CONTAINER
  * Sections layout settings
  * global, per area or section
  */
.ptt-container {
  width: min(100% - 2rem, 75rem);
  margin-left: auto;
  margin-right: auto;
}
/* Temporary (Splash Page, Error Page, Under Construction, ...)
   ========================================================================== */
body.ptt-tpl__temporary {
  /**
    * DEFAULT STYLING
    * Default template global values
    */
  display: grid;
  text-align: center;
}
@media (min-width: 62rem) {
  body.ptt-tpl__temporary {
    text-align: left;
  }
}
/**
    * WRAPPER
    * Main layout definition
    */
body.ptt-tpl__temporary .ptt-wrapper {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-gap: 2rem;
  grid-gap: var(--ptt-gap-700);
  gap: 2rem;
  gap: var(--ptt-gap-700);
}
/**
    * CONTAINER
    * Sections layout settings
    * global, per area or section
    */
/* .ptt-container {}  */
/**
    * MAIN NAV
    * Area
    */
body.ptt-tpl__temporary .ptt-nav .ptt-container {
  display: flex;
  justify-content: left;
}
body.ptt-tpl__temporary .ptt-nav .ptt-nav__logo {
  height: max(5vw, 2.8rem);
  aspect-ratio: 336 / 90;
}
/**
    * MESSAGE
    * Section
    */
body.ptt-tpl__temporary .ptt-message .ptt-container {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "message"
    "cta";
  grid-gap: 2rem;
  grid-gap: var(--ptt-gap-700);
  gap: 2rem;
  gap: var(--ptt-gap-700);
  margin-top: min(2vw, 1em);
  margin-bottom: min(2vw, 1em);
}
@media (min-width: 62rem) {
  body.ptt-tpl__temporary .ptt-message .ptt-container {
    grid-template-areas:
      "title   image"
      "message image"
      "cta     image";
    grid-template-columns: 1fr 50vh;
    grid-template-rows: auto auto 1fr;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
body.ptt-tpl__temporary .ptt-message .ptt-message__image {
  grid-area: image;
  justify-self: center;
  width: 50%;
}
@media (min-width: 62rem) {
  body.ptt-tpl__temporary .ptt-message .ptt-message__image {
    width: 50vh;
    justify-self: right;
  }
}
body.ptt-tpl__temporary .ptt-message .ptt-message__image img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
  object-fit: contain;
}
body.ptt-tpl__temporary .ptt-message .ptt-message__header {
  grid-area: title;
  justify-self: center;
  margin-bottom: 0;
  color: hsl(0 0% 25%);
  color: var(--ptt-clr-neutral-700);
  font-size: 4rem;
  line-height: 0.85;
  line-height: var(--ptt-txt-line-height-100);
  word-wrap: normal;
}
@media (min-width: 62rem) {
  body.ptt-tpl__temporary .ptt-message .ptt-message__header {
    font-size: clamp(4rem, 8vw + 2rem, 10rem);
  }
}
body.ptt-tpl__temporary .ptt-message .ptt-message__text {
  grid-area: message;
  max-width: 45ch;
  justify-self: center;
}
@media (min-width: 62rem) {
  body.ptt-tpl__temporary .ptt-message .ptt-message__text {
    margin-left: 1.5rem;
    justify-self: left;
    font-size: 1.25rem;
    font-size: var(--ptt-fnt-size-500);
  }
}
body.ptt-tpl__temporary .ptt-message .ptt-message__text ul {
  margin-left: 2rem;
  padding-top: 1.5em;
  padding-top: var(--ptt-padding-700);
  list-style: disc;
  text-align: left;
}
@media (min-width: 62rem) {
  body.ptt-tpl__temporary .ptt-message .ptt-message__text ul {
    margin-left: 2.5rem;
  }
}
body.ptt-tpl__temporary .ptt-message .ptt-message__text li {
  padding-top: 0.75em;
  padding-top: var(--ptt-padding-200);
}
body.ptt-tpl__temporary .ptt-message .ptt-message__cta {
  grid-area: cta;
  margin-top: 1.5rem;
  justify-self: center;
}
@media (min-width: 62rem) {
  body.ptt-tpl__temporary .ptt-message .ptt-message__cta {
    margin-left: 1rem;
    justify-self: left;
  }
}
body.ptt-tpl__temporary .ptt-message .ptt-message__cta a {
  background: hsl(348 68% 42%);
  background: var(--ptt-clr-complement-red-400);
  padding: 1em;
  padding: var(--ptt-padding-400);
  border-radius: 1rem;
  border-radius: var(--ptt-border-radius-400);
  font-size: 1.25rem;
  font-size: var(--ptt-fnt-size-500);
  font-weight: 500;
  font-weight: var(--ptt-fnt-weight-bold);
  color: hsl(0 0% 100%);
  color: var(--ptt-clr-neutral-100);
  -webkit-text-decoration: none;
  text-decoration: none;
  white-space: nowrap;
}
body.ptt-tpl__temporary .ptt-message .ptt-message__cta a:hover,
body.ptt-tpl__temporary .ptt-message .ptt-message__cta a :focus-visible {
  background: hsl(0 0% 25%);
  background: var(--ptt-clr-neutral-700);
}
/**
    * FOOTER
    * Area
    */
body.ptt-tpl__temporary .ptt-footer {
  padding-bottom: 2em;
  padding-bottom: var(--ptt-padding-900);
  font-size: 0.875rem;
  font-size: var(--ptt-fnt-size-footer);
}
body.ptt-tpl__temporary .ptt-footer .ptt-footer__credit,
body.ptt-tpl__temporary .ptt-footer .ptt-footer__social {
  display: flex;
  margin-top: 1rem;
  margin-top: var(--ptt-margin-400);
  justify-content: center;
}
body.ptt-tpl__temporary .ptt-footer .ptt-footer__social {
  flex-direction: row;
  gap: 1em;
}
body.ptt-tpl__temporary .ptt-footer .ptt-footer__social img {
  height: 20px;
  aspect-ratio: 1/1;
  display: block;
}
@media (min-width: 62rem) {
  body.ptt-tpl__temporary .ptt-footer .ptt-footer__social img {
    height: 24px;
  }
}
/* Homepage (Single Page Template)
   ========================================================================== */
/**
    * DEFAULT STYLING
    * Default template global values
    * see body { } for global defaults
    */
/**
    * WRAPPER
    * Main layout definition
    */
body.ptt-tpl__homepage .ptt-wrapper {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}
/**
    * CONTAINER
    * Sections layout settings
    * global, per area or section
    */
/* .ptt-container {}  */
/**
    * FOOTER
    * Area
    */
body.ptt-tpl__homepage .ptt-footer {
  font-size: 0.875rem;
  font-size: var(--ptt-fnt-size-footer);
}
/**
  * 80_pages.css
  *
  * INDEX
  * -----
  *
  * Temporary/Under Construction
  * Error/404 Error Page
  * Code/Boilerplate
  * Homepage Template
  * 
  */
/* ==========================================================================
   Pages
   ========================================================================== */
/* Templates list (Template: Temporary)
   ========================================================================== */
/* body.ptt-page__list {} */
/* Temporary/Under Construction (Template: Temporary)
   ========================================================================== */
/* body.ptt-page__temp {} */
/* Error/404 Error Page (Template: Temporary)
   ========================================================================== */
/* body.ptt-page__error {} */
/* Code/Boilerplate (Template: Temporary)
   ========================================================================== */
@media (min-width: 62rem) {
  body.ptt-page__code .ptt-message .ptt-container {
    grid-template-columns: 1fr 30vh;
  }
}
body.ptt-page__code .ptt-message__code {
  grid-area: message;
  border: hsl(0 0% 87.5%) solid 2px;
  border: var(--ptt-clr-neutral-200) solid 2px;
  padding: 1em;
  padding: var(--ptt-padding-400);
  max-height: 30vh;
  overflow: auto;
  color: hsl(190 50% 35%);
  color: var(--ptt-clr-primary-400);
  font-size: 0.85rem;
  font-size: var(--ptt-fnt-size-100);
  text-align: left;
  white-space: pre;
}
@media (min-width: 62rem) {
  body.ptt-page__code .ptt-message__code {
    max-width: 65vw;
    margin-left: 1.5rem;
    margin-left: var(--ptt-margin-600);
  }
}
/* Homepage (Template: homepage)
   ========================================================================== */
/* body.ptt-page__home {} */
/**
  * styles.css
  *
  * This file is a placeholder for 
  * all the css files(*).
  * The files in the design system
  * are imported on the next file.
  * This page will include all content
  * and it will be the only file served.
  *
  * (*)print.css is separate so you can decide to use it or not
  *
  */
