<!DOCTYPE html>
<!-- 
TODO: language
https://www.w3schools.com/tags/ref_language_codes.asp 
-->
<html lang="en">
  <head>
    <!-- TODO: Google Analytics: replace GA_TRACKING_ID to be your site's ID. -->
    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'GA_TRACKING_ID');
    </script>
    -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- TODO: Page title (max: 70 characters) -->
    <title>Plasttic | Page Not Found</title>

    <!-- No Crawling on 404, Temporary pages and others -->
    <meta name="robots" content="nofollow" />
    <meta name="googlebot" content="noindex" />

    <!-- TODO: Website description  -->
    <meta
      name="description"
      content="Plasttic is a HTML Boilerplate, Atomic Design CSS Framework and Best Practices Template."
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- TODO: Open Graph -->
    <!--   
    Personalize by Page
    https://ogp.me 
    https://developers.facebook.com/tools/debug/ 
    -->
    <meta property="og:title" content="Plasttic: Web Boilerplate" />
    <meta
      property="og:description"
      content="Plasttic is a HTML Boilerplate, Atomic Design CSS Framework and Best Practices Template."
    />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Plasttic" />
    <meta property="og:url" content="https://boilerplate.plasttic.dev/" />
    <meta
      name="og:image"
      content="https://boilerplate.plasttic.dev/assets/img/social/default-banner-1200_630.png"
    />
    <meta name="og:image:alt" content="Plasttic logo banner" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />

    <!-- TODO: Twitter Cards -->
    <!-- 
    https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started#opengraph
    Most information is provided by the Open Graph meta tags
    -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tojeiro_me" />

    <!-- TODO: About the author of the website -->
    <link rel="author" href="/humans.txt" />

    <!-- TODO: Icons -->
    <!-- 
    https://realfavicongenerator.net/
    -->
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="msapplication-TileColor" content="#2d89ef" />

    <!-- TODO: Web App Manifest -->
    <!-- 
    https://developer.mozilla.org/en-US/docs/Web/Manifest
    -->
    <link rel="manifest" href="/manifest.json" />

    <!-- TODO: Theme-color -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name/theme-color -->
    <meta name="theme-color" content="#ffffff" />

    <!-- TODO: Fonts -->
    <!-- 1. Local hosted (preload for @font-face) -->
    <link
      rel="preload"
      href="/assets/fonts/roboto-latin-300-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/roboto-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/roboto-latin-500-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/scripts.min.js" defer></script>
  </head>
  <!------------ TEMPLATE START ------------->
  <body id="top" class="ptt-tpl__temporary ptt-page__error">
    <div class="ptt-wrapper">
      <nav class="ptt-nav" aria-label="Main">
        <div class="ptt-container">
          <a href="/templates/"
            ><img
              class="ptt-nav__logo"
              src="/assets/img/logos/logo-horizontal.svg"
              alt="Plasttic Home"
          /></a>
        </div>
      </nav>
      <main id="main" class="ptt-main">
        <section id="message" class="ptt-message" aria-label="Error message">
          <div class="ptt-container">
            <p class="ptt-message__image">
              <img src="/assets/img/illustrations/404.svg" alt="Coming Soon" />
            </p>
            <h1 class="ptt-message__header">Ooops!</h1>
            <p class="ptt-message__text">
              We seem to have misplaced the page you're looking for. Let’s give
              a try and see if we find it:
            </p>
            <p class="ptt-message__cta">
              <a href="/templates/" aria-label="Go to Homepage">Let's go</a>
            </p>
          </div>
        </section>
      </main>
      <footer id="footer" class="ptt-footer">
        <div class="ptt-container">
          <div class="ptt-footer__credit">
            <p>
              ©2021-<span id="footer-year"></span> Goncalo Tojeiro | Powered by
              <a href="https://plasttic.dev" target="_blank">Plasttic</a>
            </p>
          </div>
          <div class="ptt-footer__social">
            <a href="https://mastodon.social/@tojeiro_me" target="_blank"
              ><img src="/assets/img/icons/mastodon.svg" alt="Mastodon"
            /></a>
            <a href="https://github.com/tojeiro-me" target="_blank"
              ><img src="/assets/img/icons/github.svg" alt="Github"
            /></a>
            <a href="https://www.instagram.com/tojeiro.me/" target="_blank"
              ><img src="/assets/img/icons/instagram.svg" alt="Instagram"
            /></a>
            <a
              href="https://www.linkedin.com/in/goncalo-tojeiro/"
              target="_blank"
              ><img src="/assets/img/icons/linkedin.svg" alt="LinkedIn"
            /></a>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <!------------ TEMPLATE END ------------->
</html>
