// -----------------------------------------------------------------------------
// This file contains global basic styles to general tags that are not set
// on the _reset file or does not belong in any other file.
// Some global values (box-sizing, line-height, ...) are included in base/_reset.scss
// -----------------------------------------------------------------------------

@use 'root' as *;


// REVIEW: use custom properties set in _root.scss

body {
  background: #fff;
  font-size: 1rem;
  font-family: 'Helvetica Neue', sans-serif;
  color: #000;
  line-height: 1;
  letter-spacing: -.5px;
}

