// -----------------------------------------------------------------------------
// This file contains local stored fonts.
// For better performace Fonts should use the <link> in the HTML <head>, 
// pre-loadind externally stored fonts (like googlefonts.com) - see index.html
// -----------------------------------------------------------------------------

@font-face {
  font-family: "Alaska";
  src: url("../assets/fonts/alaska.woff") format("woff");
  font-display: swap;
}
