/* Plasttic v2.0 | MIT License | https://plasttic.dev/ */

/**
  * 00_reset.css
  *
  * Styling for CSS browser compatibility
  * and some best practices styling defaults
  *
  * Based on A Modern CSS Reset by Andy Bell @piccalilli_
  * https://piccalil.li/blog/a-modern-css-reset/
  *
  * Includes some rules from Josh Comeau @JoshWComeau
  * https://www.joshwcomeau.com/css/custom-css-reset/
  *
  * Plasttic rules and defaults are commented using "Plasttic:" 
  *
  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Plasttic: Remove margin and padding globally */
* {
  margin: 0;
  padding: 0;
}

/* Set scroll preference */
html {
  scroll-behavior: smooth;
}

/* Set document defaults */
html,
body {
  /* Plasttic: viewport height units (vh/svh/dvh/lvh) are set on the layout sections */
  height: 100%;
  /* Plasttic: prevent horizontal overflow */
  overflow-x: hidden;
}

/* Set typography defaults */
body {
  text-rendering: optimizeSpeed;
  /* Plasttic: Set default line-height */
  line-height: 1.45;
  /* 1.3 to 1.6: ideal line height depends on the font x-height */
  /* Plasttic: Set best typography defaults */
  letter-spacing: 0.012em;
  word-spacing: 0.016em;
}

h1,
h2,
h3 {
  /* Plasttic: Set best typography values for headings */
  line-height: 1.1; /* 1 to 1.2: ideal line height depends on the font x-height */
  letter-spacing: 0.012em;
  word-spacing: 0.016em;
  margin-bottom: 0.5em;
}

/* Avoid text overflow */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

/* Plasttic: Set best paragraph spacing */
p {
  margin-bottom: 1.5em;
}

/* <a> elements without a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  /* Plasttic: Add Video, Canvas and SVG */
  display: block;
  max-width: 100%;
  /* Plasttic: Set height */
  height: auto;
}

/* Avoid image distortion by filling the entire content box */
img,
video {
  object-fit: cover; /* Plasttic: */
}

/* Set aspect-ratio to avoid layout shift */
img,
video,
canvas,
svg {
  /* Plasttic: Set aspect-ratio based on specified sizes */
  aspect-ratio: attr(width) / attr(height);
  /* 2023: not supported yet */
}

/* Remove form default typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Plasttic: Global focus style for accessibility */
:where(a, input, button, textarea, select, [tabindex]):focus-visible {
  outline: 1px solid hsl(0 0% 100%);
  outline-offset: 2px;
  box-shadow: 0 0 0 2px hsl(26 86% 61%);
  border-radius: 1px;
}

/* Remove animations and transitions when motion preference set to reduce */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
