/* Plasttic v2.0 | MIT License | https://plasttic.dev/ */

/**
  * 00_reset.css
  *
  * Styling for CSS browser compatibility
  *
  * A Modern CSS Reset
  * https://github.com/Andy-set-studio/modern-css-reset
  * https://piccalil.li/blog/a-modern-css-reset/
  *
  * Added some rules from:
  * https://www.joshwcomeau.com/css/custom-css-reset/
  *
  * Added some custom rules:
  * Custom changes are commented using "Plasttic:" 
  *
  */

/* ==========================================================================
   Reset
   ========================================================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Plasttic: Remove margin and padding globally */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  /* Plasttic: Set document height */
  min-height: 100%;
  min-height: 100dvh;
}

body {
  text-rendering: optimizeSpeed;
  /* Plasttic: Set default line-height */
  line-height: 1.45; /* or 1.5 , 1.6 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Plasttic: Set best line height for headings */
  line-height: 1; /* or 1.2 */
  margin-bottom: 0.5em;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}

/* <a> elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  /* Plasttic: Add Video, Canvas and SVG */
  display: block;
  max-width: 100%;
  /* Plasttic: Set height and aspect-ratio */
  height: auto;
}

img,
video,
canvas,
svg {
  /* Plasttic: Set aspect-ratio based on specified sizes */
  aspect-ratio: attr(width) / attr(height);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Plasttic: Global focus style for accessibility */
:where(a, input, button, textarea, select, [tabindex]):focus-visible {
  outline: 1px solid hsl(0, 0%, 100%);
  outline-offset: 2px;
  box-shadow: 0 0 0 2px hsl(26, 86%, 61%);
  border-radius: 1px;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
