/* Plasttic v2.0 | MIT License | https://plasttic.dev/ */

/**
  * 00_reset.css
  *
  * Styling for CSS browser compatibility
  * and best practices styling defaults
  *
  * Based on A Modern CSS Reset by Andy Bell @piccalilli_
  * https://piccalil.li/blog/a-modern-css-reset/
  * and includes some rules from Josh Comeau @JoshWComeau
  * https://www.joshwcomeau.com/css/custom-css-reset/
  *
  */

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  /* Remove margin and padding globally */
  margin: 0;
  padding: 0;
  /* Default styling for items with text decoration  */
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.25ex;
}

/* Document */
html {
  /* Scroll preference */
  scroll-behavior: smooth;
}
html,
body {
  /* Viewport height units (vh/svh/dvh/lvh) are set on the layout sections */
  height: 100%;
  /* Prevent horizontal overflow */
  overflow-x: hidden;
}

/* Typography */
html {
  /* Avoid text inflation on mobile screens */
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
body {
  text-rendering: optimizeSpeed;
  /* Typography defaults for readability */
  line-height: 1.45; /* 1.3 to 1.6: ideal line height depends on the font x-height */
  letter-spacing: 0.012em;
  word-spacing: 0.016em;
}
h1,
h2,
h3 {
  /* Bigger headings typography defaults for readability */
  line-height: 1.1; /* 1 to 1.2: ideal line height depends on the font x-height */
  letter-spacing: 0.012em;
  word-spacing: 0.016em;
  /* Better spacing between content */
  margin-bottom: 1em;
  /* Prevent long lines */
  max-width: 30ch;
}
h2 {
  max-width: 35ch;
}
h3 {
  max-width: 45ch;
}
h4,
h5,
h6,
p {
  /* Better spacing between content */
  margin-bottom: 1.5em;
  /* Prevent long lines for readability */
  max-width: 65ch; /* Optimal values: 50ch to 80ch */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* Text wrap */
  overflow-wrap: break-word;
  text-wrap: balance; /* CHECK: May 2023: not yet supported */
}

/* Media */
img,
picture,
video,
canvas,
svg {
  /* Make images easier to work with */
  display: block;
  max-width: 100%;
  height: auto;
}
img,
video {
  /* Avoid distortion by filling the entire content box */
  object-fit: cover;
}
img,
video,
canvas,
svg {
  /* Set aspect-ratio based on specified sizes */
  aspect-ratio: attr(width) / attr(height); /* CHECK: May 2023: not yet supported */
}

/* Forms */
input,
button,
textarea,
select {
  /* Remove form default typography styles */
  font: inherit;
}

/* Focus style */
:where(a, input, button, textarea, select, [tabindex]):focus-visible {
  outline: 1px solid hsl(0 0% 100%);
  outline-offset: 2px;
  box-shadow: 0 0 0 2px hsl(26 86% 61%);
  border-radius: 1px;
}

/* Remove animations and transitions when motion preference set to reduce */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
