/**
  * 10_tokens.css
  *
  * INDEX
  * -----
  *
  * LOAD FONTS................Self hosted fonts
  *
  * TOKENS
  * (:root)
  * Colors
  * Font
  * Text
  * Box Model
  * (end root:)
  * Breakpoints
  *
  * TYPOGRAPHY TOKENS...........Extends Font and Text
  * 
  */

/* ==========================================================================
   Load Fonts
   ========================================================================== */

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto-latin-300-normal.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto-latin-500-normal.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

/* ==========================================================================
   Tokens
   ========================================================================== */

:root {
  /**
    * COLORS
    * Shade number classification light to dark
    * 500 is the main color; shades from 100-900
    * Optional: create middle values like 650
    * Primary and Secondary usually are the brand colors
    * Theme colors can be changed on page specific styles
    */

  /* Neutral */
  --ptt-clr-neutral-100: hsl(0, 0%, 100%); /* white */
  --ptt-clr-neutral-200: hsl(0, 0%, 87.5%);
  --ptt-clr-neutral-300: hsl(0, 0%, 75%);
  --ptt-clr-neutral-400: hsl(0, 0%, 62.5%);
  --ptt-clr-neutral-500: hsl(0, 0%, 50%);
  --ptt-clr-neutral-600: hsl(0, 0%, 37.5%);
  --ptt-clr-neutral-700: hsl(0, 0%, 25%);
  --ptt-clr-neutral-800: hsl(0, 0%, 12.5%);
  --ptt-clr-neutral-900: hsl(0, 0%, 0%); /* black */

  /* Primary */
  --ptt-clr-primary-100: hsl(191, 50%, 87%);
  --ptt-clr-primary-300: hsl(190, 50%, 59%);
  --ptt-clr-primary-400: hsl(190, 50%, 35%);
  --ptt-clr-primary-800: hsl(192, 41%, 20%);

  /* Secondary */
  --ptt-clr-secondary-400: var(---ptt-clr-neutral-800);

  /* Complementary */
  --ptt-clr-complement-400: hsl(348, 68%, 42%);

  /* Semantic */
  --ptt-clr-error-400: hsl(0, 86%, 38%);
  --ptt-clr-success-400: hsl(121, 83%, 33%);

  /* Backgrounds */
  --ptt-clr-background-body: var(--ptt-clr-neutral-100);
  --ptt-clr-background-content: var(--ptt-clr-neutral-100);

  /* Theme */

  /**
    * FONT
    * Family, Weights, Sizes
    */

  /* Font Families */
  --ptt-ff-primary: "Roboto", sans-serif;

  /* Font Weights */
  --ptt-fw-light: 300;
  --ptt-fw-regular: 400;
  --ptt-fw-bold: 500;

  /* Font Sizes: 200: 14px, 400: 16px, 500: 20px,
      700: 28px, 900: 36px */
  --ptt-fs-200: 0.875rem;
  --ptt-fs-400: 1rem;
  --ptt-fs-500: 1.25rem;
  --ptt-fs-700: 1.75rem;
  --ptt-fs-900: 2.25rem;

  /**
    * TEXT
    * Line height, ...
    */

  /* Line Heights */
  --ptt-txt-lh-100: 0.85;
  --ptt-txt-lh-200: 1;
  --ptt-txt-lh-300: 1.2;
  --ptt-txt-lh-400: 1.45; /* default: reset.css */

  /**
    * BOX
    * Padding, margin
    */

  /* Padding */
  --ptt-pad-300: 0.9em;
  --ptt-pad-400: 1em;
  --ptt-pad-500: 1.1em;

  /* Margin */
  --ptt-mrg-400: 1rem;

  /* Border */
  --ptt-bdr-400: 1px solid;

  /* Border radius */
  --ptt-bdr-radius-400: 1rem;

  /**
    * GRID / FLEXBOX
    * Gap, 
    */

  /* Gap */
  --ptt-gap-400: 1rem;
  --ptt-gap-700: 2rem;
}

/**
  * BREAKPOINTS
  * Mobile, Tablet, Laptop, Desktop
  */

/* 30rem: 480px, 48rem: 768px, 62rem: 992px, 64rem: 1024px, 75rem: 1200px */

@custom-media --ptt-bkp-xs (width >= 30rem);
@custom-media --ptt-bkp-sm (width >= 48rem);
@custom-media --ptt-bkp-md (width >= 62rem);
@custom-media --ptt-bkp-lg (width >= 64rem);
@custom-media --ptt-bkp-xl (width >= 75rem);

/* ==========================================================================
   Typography Tokens
   ========================================================================== */

:root {
  /**
    * TYPOGRAPHY
    * Body, Headers, Navigation, Footer
    */

  /* Body */
  --ptt-ff-body: var(--ptt-ff-primary);
  --ptt-fw-body: var(--ptt-fw-light);
  --ptt-fs-body: var(--ptt-fs-200);

  /* Headers */
  --ptt-fw-header: var(--ptt-fw-bold);
  --ptt-fs-header-h1: var(--ptt-fs-700);
  --ptt-fs-header-h2: var(--ptt-fs-500);
  --ptt-txt-lh-header: var(--ptt-txt-lh-200);

  /* Navigation */
  --ptt-fw-primary-nav: var(--ptt-fw-regular);
  --ptt-fs-primary-nav: var(--ptt-fs-200);

  /* Footer */
  --ptt-fw-footer: var(--ptt-fw-regular);
  --ptt-fs-footer: var(--ptt-fs-200);
}

/**
  * RESPONSIVE TYPOGRAPHY
  * Redefine Typography token values by Breakpoint
  * whenever needed
  */

@media (--ptt-bkp-md) {
  :root {
    --ptt-fs-body: var(--ptt-fs-400);
    --ptt-fs-header-h1: var(--ptt-fs-900);
    --ptt-fs-header-h2: var(--ptt-fs-700);
    --ptt-fs-nav: var(--ptt-fs-200);
    --ptt-fs-footer: var(--ptt-fs-200);
  }
}
