/**
  * 20_atoms.css
  *
  * INDEX
  * -----
  *
  * Typography...........Extends Typography Tokens
  * 
  */

/* ==========================================================================
   Atoms
   ========================================================================== */

/**
    * TYPOGRAPHY
    * Headers, ...
    */

@define-mixin h1-md {
  font-weight: var(--ptt-fnt-weight-header);
  font-size: var(--ptt-fnt-size-header-h1);
  line-height: var(--ptt-txt-line-height-200);
}

h1 {
  @mixin h1-md;
}

h2 {
  font-weight: var(--ptt-fnt-weight-header);
  font-size: var(--ptt-fnt-size-header-h2);
  line-height: var(--ptt-txt-line-height-200);
}

p {
  font-size: var(--ptt-fnt-size-body);
}

nav {
  font-size: var(--ptt-fnt-size-primary-nav);
}

footer {
  font-size: var(--ptt-fnt-size-footer);
}

a,
a:visited {
  color: var(--ptt-clr-neutral-900);
  font-weight: var(--ptt-fnt-weight-bold);
}

a:hover,
a:active,
a:focus {
  color: var(--ptt-clr-complement-red-400);
}
