/**
  * 20_atoms.css
  *
  * INDEX
  * -----
  *
  * Typography...........Extends Typography Tokens
  * 
  */

/* ==========================================================================
   Atoms
   ========================================================================== */

/**
    * TYPOGRAPHY
    * Headers, ...
    */

@define-mixin h1-md {
  font-weight: var(--ptt-fnt-weight-header);
  font-size: var(--ptt-fnt-size-header-h1);
  line-height: var(--ptt-txt-line-height-200);
}

h1 {
  @mixin h1-md;
}

h2 {
  font-weight: var(--ptt-fnt-weight-header);
  font-size: var(--ptt-fnt-size-header-h2);
  line-height: var(--ptt-txt-line-height-200);
}

p {
  font-size: var(--ptt-fnt-size-body);
}

/* ----- Templates ----- */
nav {
  font-size: var(--ptt-fnt-size-primary-nav);
}

footer {
  font-size: var(--ptt-fnt-size-footer);
}

a,
a:visited {
  color: var(--ptt-clr-neutral-900);
  font-weight: var(--ptt-fnt-weight-bold);
}

a:hover,
a:active,
a:focus {
  color: var(--ptt-clr-complement-red-400);
}

/* ----- button XL ----- */
.ptt-tpl__temporary .ptt-message__cta a {
  white-space: nowrap;
  background: var(--ptt-clr-complement-red-400);
  padding: var(--ptt-padding-400);
  border-radius: var(--ptt-border-radius-400);
  font-size: var(--ptt-fnt-size-500);
  font-weight: var(--ptt-fnt-weight-bold);
  color: var(--ptt-clr-neutral-100);
  text-decoration: none;
  transition: background-color 200ms ease-in;
  &:hover {
    background: var(--ptt-clr-neutral-700);
  }
}
