/* --- UTILITY --- */
@import "10_utility";

/**
  * 20_components.css
  *
  * INDEX
  * -----
  *
  * Hidden Link..........Jump to Content
  *
  * Note: Self contained, not dependent of the design system
  *
  */

/* ==========================================================================
   Components
   ========================================================================== */

/** 
  * HIDDEN LINK
  * allows screen reader and keyboard users 
  * to skip navigation and jump to content
  *
  * More: https://www.accessguide.io/guide/skip-link
  */

.ptt-access__jump-content {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  transform: translateY(-120%);
}

.ptt-access__jump-content:active,
.ptt-access__jump-content:focus {
  width: auto;
  height: auto;
  position: relative;
  left: auto;
}
