/* --- TOKENS --- */
@import "30_tokens.css";

/**
  * 40_atoms.css
  *
  * INDEX
  * -----
  *
  * Logos
  * Typography...........Extends Typography Tokens
  * Buttons
  * Icons
  * 
  */

/* ==========================================================================
   Atoms
   ========================================================================== */

/* Logos
   ========================================================================== */

/**
    * ...
    * Main Logo, Icon Logo, ... (size, color/b&w)
    */

/* Typography
   ========================================================================== */

/**
    * HEADERS
    * h1, ...
    */
@define-mixin h1-md {
  font-weight: var(--ptt-fnt-weight-header);
  font-size: var(--ptt-fnt-size-header-h1);
  line-height: var(--ptt-txt-line-height-200);
}

@define-mixin h2-md {
  font-weight: var(--ptt-fnt-weight-header);
  font-size: var(--ptt-fnt-size-header-h2);
  line-height: var(--ptt-txt-line-height-200);
}

/* Links and Buttons
   ========================================================================== */

/**
    * LINKS
    * ...
    */

@define-mixin link-md {
  color: var(--ptt-clr-neutral-900);
  font-weight: var(--ptt-fnt-weight-bold);
  &:visited {
    color: var(--ptt-clr-neutral-900);
    font-weight: var(--ptt-fnt-weight-bold);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--ptt-clr-complement-red-400);
  }
}

/**
    * LINKS AS BUTTONS
    * Buttons, Links as buttons
    */

@define-mixin link-button-xl {
  white-space: nowrap;
  background: var(--ptt-clr-complement-red-400);
  padding: var(--ptt-padding-400);
  border-radius: var(--ptt-border-radius-400);
  font-size: var(--ptt-fnt-size-500);
  font-weight: var(--ptt-fnt-weight-bold);
  color: var(--ptt-clr-neutral-100);
  text-decoration: none;
  transition: background-color 200ms ease-in;
  &:hover {
    background: var(--ptt-clr-neutral-700);
  }
}

/* Icons
   ========================================================================== */

/**
    * SOCIAL ICONS
    * ...
    */
