/* Plasttic v2.0 | MIT License | https://plasttic.dev/ */

/* --- ORGANISMS --- */
@import "60_organisms.css";

/**
  * 70_templates.css
  *
  * INDEX
  * -----
  *
  * Temporary
  * Homepage
  * 
  */

/* ==========================================================================
   Templates
   ========================================================================== */

/* Temporary (Splash Page, Error Page, Under Construction, ...)
   ========================================================================== */

.ptt-tpl__temporary {
  /**
    * DEFAULT STYLING
    * Default template global values
    */
  display: grid;
  background: var(--ptt-clr-bkg-body);
  color: var(--ptt-clr-neutral-800);
  font-family: var(--ptt-fnt-family-body);
  font-weight: var(--ptt-fnt-weight-body);
  font-size: var(--ptt-fnt-size-body);
  text-align: center;
  @media (--ptt-bkp-md) {
    text-align: left;
  }

  /**
    * WRAPPER
    * Main layout definition
    */
  .ptt-wrapper {
    display: grid;
    grid-template-areas:
      "nav"
      "main"
      "footer";
    gap: var(--ptt-gap-700);
    margin-block: max(2vw, 1rem);
  }

  /**
    * CONTAINER
    * Sections layout settings
    * global, per area or section
    */
  .ptt-container {
    width: min(90vw, 1200px);
    margin-inline: auto;
  }

  /**
    * MAIN NAV
    * Area
    */
  .ptt-nav {
    .ptt-container {
      display: flex;
      justify-content: left;
    }
    .ptt-nav__logo {
      @mixin main-nav-logo-dyn;
    }
  }

  /**
    * MESSAGE
    * Section
    */
  .ptt-message .ptt-container {
    display: grid;
    grid-template-areas:
      "image"
      "title"
      "message"
      "cta";
    gap: var(--ptt-gap-700);
    margin-block: min(2vw, 1em);
    @media (--ptt-bkp-md) {
      grid-template-areas:
        "title   image"
        "message image"
        "cta     image";
      grid-template-columns: 1fr 50vh;
      grid-template-rows: auto auto 1fr;
      margin-block: 5vh;
    }
  }

  .ptt-message {
    .ptt-message__image {
      grid-area: image;
      justify-self: center;
      width: 50%;
      @media (--ptt-bkp-md) {
        width: 50vh;
        justify-self: right;
      }
      & img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }

    .ptt-message__header {
      grid-area: title;
      align-self: end;
      margin-bottom: 0;
      color: var(--ptt-clr-neutral-700);
      font-size: 4rem;
      line-height: var(--ptt-txt-line-height-100);
      overflow-wrap: normal;
      @media (--ptt-bkp-md) {
        font-size: clamp(4rem, 8vw + 2rem, 10rem);
      }
    }

    .ptt-message__text {
      grid-area: message;
      max-width: 45ch;
      justify-self: center;
      @media (--ptt-bkp-md) {
        margin-left: 1.5rem;
        justify-self: left;
        font-size: var(--ptt-fnt-size-500);
      }
      ul {
        margin-left: 2rem;
        padding-top: var(--ptt-padding-700);
        list-style: disc;
        text-align: left;
        @media (--ptt-bkp-md) {
          margin-left: 2.5rem;
        }
      }
      li {
        padding-top: var(--ptt-padding-200);
      }
    }

    .ptt-message__cta {
      grid-area: cta;
      margin-top: 1.5rem;
      @media (--ptt-bkp-md) {
        margin-left: 1rem;
      }
      a {
        @mixin link-button-xl;
      }
    }
  }
  /**
    * FOOTER
    * Area
    */
  .ptt-footer {
    padding-bottom: var(--ptt-padding-900);
    font-size: var(--ptt-fnt-size-footer);
    .ptt-footer__credit,
    .ptt-footer__social {
      margin-top: var(--ptt-margin-400);
      text-align: center;
    }
    .ptt-footer__social {
      display: flex;
      flex-direction: row;
      gap: 1em;
      justify-content: center;
      & img {
        height: 20px;
        aspect-ratio: 1/1;
        display: block;
        @media (--ptt-bkp-md) {
          height: 24px;
        }
      }
    }
  }
}

/* Homepage (Template Homepage)
   ========================================================================== */

.ptt-tpl__homepage {
  /**
    * DEFAULT STYLING
    */
  background: var(--ptt-clr-bkg-body);
  color: var(--ptt-clr-neutral-800);
  font-family: var(--ptt-fnt-family-body);
  font-weight: var(--ptt-fnt-weight-body);
  font-size: var(--ptt-fnt-size-body);

  /**
    * WRAPPER
    * Main layout definition
    */
  .ptt-wrapper {
    display: grid;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "footer";
  }

  /**
    * CONTAINER
    * Sections layout settings
    * global, per area or section
    */
  .ptt-container {
    width: min(90vw, 1200px);
    margin-inline: auto;
  }

  /**
    * FOOTER
    * Area
    */
  .ptt-footer {
    font-size: var(--ptt-fnt-size-footer);
  }
}
