/**
  * styles.css
  *
  * This page imports all other css files
  * for post processing and it will be the only file served
  *
  */

@import "00_reset.css";
@import "10_tokens.css";
@import "20_atoms.css";
@import "30_molecules.css";
@import "40_organisms.css";
@import "50_templates.css";
@import "60_pages.css";
@import "70_components.css";
@import "80_utility.css";

/* ==========================================================================
   TODO
   ========================================================================== */

/* Global Styling */
body {
  background: var(--ptt-clr-background-body);
  color: var(--ptt-clr-neutral-800);
  font-family: var(--ptt-ff-body);
  font-weight: var(--ptt-fw-body);
  font-size: var(--ptt-fs-body);
}

/* Layout */
.ptt-wrapper {
  /** 
    * Use when you want set the all page (Grid, Width, ...), 
    * and not just the actual content sections (see .ptt-container). 
    */
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}
.ptt-container {
  background: var(--ptt-clr-background-content);
  width: min(90vw, 1200px);
  margin-inline: auto;
}

/* ==========================================================================
   Templates

   .ptt-tpl__name {
      display: grid;
   }
   ========================================================================== */

/* Homepage */

/* Temporary */
body.ptt-page__temp {
  display: grid;
  font-size: var(--ptt-fs-400);
  text-align: center;
  @media (--ptt-bkp-md) {
    text-align: left;
  }
}

.ptt-page__temp .ptt-wrapper {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  gap: var(--ptt-gap-700);
  margin-block: max(2vw, 1rem);
}

.ptt-page__temp .ptt-main__message .ptt-container {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "message"
    "cta";
  gap: var(--ptt-gap-700);
  margin-block: min(2vw, 1em);
  @media (--ptt-bkp-md) {
    grid-template-areas:
      "title   image"
      "message image"
      "cta     image";
    grid-template-columns: 1fr 50vh;
    grid-template-rows: auto auto 1fr;
    margin-block: 5vh;
  }
}

.ptt-page__temp .ptt-main__image {
  grid-area: image;
  justify-self: center;
  width: 50%;
  @media (--ptt-bkp-md) {
    width: 50vh;
    justify-self: right;
  }
  & img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

.ptt-page__temp .ptt-main__header {
  grid-area: title;
  align-self: end;
  margin-bottom: 0;
  color: var(--ptt-clr-neutral-700);
  font-size: 4rem;
  line-height: var(--ptt-txt-lh-100);
  @media (--ptt-bkp-md) {
    font-size: clamp(4rem, 8vw + 2rem, 10rem);
  }
}

.ptt-page__temp .ptt-main__text {
  grid-area: message;
  justify-self: center;
  max-width: 45ch;
  @media (--ptt-bkp-md) {
    justify-self: left;
    font-size: var(--ptt-fs-500);
  }
}

.ptt-page__temp .ptt-main__cta {
  grid-area: cta;
  margin-top: 1.5rem;
}

.ptt-page__temp .ptt-main__cta a {
  white-space: nowrap;
  background: var(--ptt-clr-complement-400);
  padding: var(--ptt-pad-400);
  border-radius: var(--ptt-bdr-radius-400);
  font-size: var(--ptt-fs-500);
  font-weight: var(--ptt-fw-bold);
  color: var(--ptt-clr-neutral-100);
  text-decoration: none;
  transition: background-color 200ms ease-in;
  &:hover {
    background: var(--ptt-clr-neutral-700);
  }
}

.ptt-page__temp .ptt-nav__logo {
  height: max(5vw, 40px);
  aspect-ratio: auto 4/1;
}

.ptt-page__temp .ptt-footer__credit,
.ptt-page__temp .ptt-footer__social {
  margin-top: var(--ptt-mrg-400);
  text-align: center;
}

.ptt-page__temp .ptt-footer__social {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  & img {
    display: inline;
    height: 20px;
    aspect-ratio: 1/1;
    @media (--ptt-bkp-md) {
      height: 24px;
    }
  }
}
/* 404 */
body.ptt-page__404 {
  display: grid;
  font-size: var(--ptt-fs-400);
  text-align: center;
  @media (--ptt-bkp-md) {
    text-align: left;
  }
}

.ptt-page__404 .ptt-wrapper {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  gap: var(--ptt-gap-700);
  margin-block: max(2vw, 1rem);
}

.ptt-page__404 .ptt-main__message .ptt-container {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "message"
    "cta";
  gap: var(--ptt-gap-700);
  margin-block: min(2vw, 1em);
  @media (--ptt-bkp-md) {
    grid-template-areas:
      "title   image"
      "message image"
      "cta     image";
    grid-template-columns: 1fr 50vh;
    grid-template-rows: auto auto 1fr;
    margin-block: 5vh;
  }
}

.ptt-page__404 .ptt-main__image {
  grid-area: image;
  justify-self: center;
  width: 50%;
  @media (--ptt-bkp-md) {
    width: 50vh;
    justify-self: right;
  }
  & img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

.ptt-page__404 .ptt-main__header {
  grid-area: title;
  align-self: end;
  margin-bottom: 0;
  color: var(--ptt-clr-neutral-700);
  font-size: 4rem;
  line-height: var(--ptt-txt-lh-100);
  @media (--ptt-bkp-md) {
    font-size: clamp(4rem, 8vw + 2rem, 10rem);
  }
}

.ptt-page__404 .ptt-main__text {
  grid-area: message;
  justify-self: center;
  max-width: 45ch;
  @media (--ptt-bkp-md) {
    justify-self: left;
    font-size: var(--ptt-fs-500);
  }
}

.ptt-page__404 .ptt-main__cta {
  grid-area: cta;
  margin-top: 1.5rem;
}

.ptt-page__404 .ptt-main__cta a {
  white-space: nowrap;
  background: var(--ptt-clr-complement-400);
  padding: var(--ptt-pad-400);
  border-radius: var(--ptt-bdr-radius-400);
  font-size: var(--ptt-fs-500);
  font-weight: var(--ptt-fw-bold);
  color: var(--ptt-clr-neutral-100);
  text-decoration: none;
  transition: background-color 200ms ease-in;
  &:hover {
    background: var(--ptt-clr-neutral-700);
  }
}

.ptt-page__404 .ptt-nav__logo {
  height: max(5vw, 40px);
  aspect-ratio: auto 4/1;
}

.ptt-page__404 .ptt-footer__credit,
.ptt-page__404 .ptt-footer__social {
  margin-top: var(--ptt-mrg-400);
  text-align: center;
}

.ptt-page__404 .ptt-footer__social {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  & img {
    display: inline;
    height: 20px;
    aspect-ratio: 1/1;
    @media (--ptt-bkp-md) {
      height: 24px;
    }
  }
}

/* ==========================================================================
   Pages

   .ptt-page__name {
      color: red;
   }
   ========================================================================== */

/* boilerplate */
.ptt-page__boilerplate .ptt-main__code {
  grid-area: message;
  color: var(--ptt-clr-primary-400);
  font-size: 0.85rem;
  text-align: left;
  border: var(--ptt-clr-neutral-200) solid 2px;
  padding: var(--ptt-pad-400);
  max-height: 30vh;
  overflow: auto;
  white-space: pre;
}

.ptt-page__boilerplate .ptt-main__cta button {
  white-space: nowrap;
  background: var(--ptt-clr-complement-400);
  padding: var(--ptt-pad-300) var(--ptt-pad-500);
  border: 0;
  border-radius: var(--ptt-bdr-radius-400);
  font-size: var(--ptt-fs-500);
  font-weight: var(--ptt-fw-bold);
  color: var(--ptt-clr-neutral-100);
  text-decoration: none;
  transition: background-color 200ms ease-in;
  cursor: pointer;
  &:hover {
    background: var(--ptt-clr-neutral-700);
  }
}
