/**
* styles.css
*
* reset.css sets default styling across browsers
*
*
* INDEX
* -----
*
* GLOBAL...............Globally-available properties.
*
* ACCESSiBILITY
* Hidden Link..........Jump to Content.
*
* MAIN
* 
*
* PAGES
* Text.................Text helpers.
*/

/* ==========================================================================
   Global
   ========================================================================== */

:root {
  /**
   * COLORS
   * Shade number classification light to dark
   * 500 is the main color; shades from 100-900
   * Optional: create middle values like 650
   * Primary and Secondary usually are the brand colors
   * Theme colors can be changed on page specific styles
   */

  /* Primary */
  --clr-primary-100: hsl(191, 50%, 87%);
  --clr-primary-300: hsl(190, 50%, 59%);
  --clr-primary-400: hsl(190, 50%, 35%);
  --clr-primary-800: hsl(192, 41%, 20%);

  /* Secondary */
  --clr-secondary-400: hsl(190, 50%, 35%);

  /* Complementary */

  /* Theme */

  /* Semantic */
  --clr-error-400: hsl(0, 86%, 38%);
  --clr-success-400: hsl(121, 83%, 33%);

  /* Neutral */
  --clr-neutral-100: hsl(0, 0%, 100%); /* white */
  --clr-neutral-200: hsl(0, 0%, 87.5%);
  --clr-neutral-300: hsl(0, 0%, 75%);
  --clr-neutral-400: hsl(0, 0%, 62.5%);
  --clr-neutral-500: hsl(0, 0%, 50%);
  --clr-neutral-600: hsl(0, 0%, 37.5%);
  --clr-neutral-700: hsl(0, 0%, 25%);
  --clr-neutral-800: hsl(0, 0%, 12.5%);
  --clr-neutral-900: hsl(0, 0%, 0%); /* black */
}

/* ==========================================================================
   Accessibility
   ========================================================================== */

/** 
* Hidden Link: Jump to Content
* allows screen reader and keyboard users 
* to skip navigation and banner
* and go to main content
*
* More: https://www.accessguide.io/guide/skip-link
*/

.ptt-access__jump-content {
  position: absolute;
  transform: translateY(-120%);
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.ptt-access__jump-content:active,
.ptt-access__jump-content:focus {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
}

/* ==========================================================================
   MAIN
   ========================================================================== */

body {
  background-color: var(--clr-neutral-100);
}

/* ==========================================================================
   PAGES
   ========================================================================== */

/** 
* Page specific properties
* Change custom properties or create new style rules
*/

.ptt-page__other-page {
  --clr-primary-500: hsl(0, 86, 38); /* example */
}
