{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["../src/assets/css/*.css", "../src/*.html", "../src/**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "endOfLine": "auto",
  "trailingComma": "es5",
  "printWidth": 80
}
