/**
  * 00_reset.css
  *
  * INDEX
  * -----
  *
  * Customize values from plasttic-reset 
  * (global scope)
  *
  */

@import "https://unpkg.com/plasttic-reset@3.0";

/* Customize reset defaults */

:root {
  /* Focus style color: Brand Primary Color 300 - CUSTOMIZED */
  --ptt-reset-focus-color: var(--ptt-clr-primary-300);

  /* Top padding when using anchor links to scroll down */
  --ptt-reset-scroll-padding: 2em;

  /* Lists padding to align with content */
  --ptt-reset-list-pad-ul: 1.75ex;
  --ptt-reset-list-pad-ol: 2.35ex; /* Optimized for single digits*/

  /* Better text readability */
  /* This properties best values depend on the font used */
  --ptt-reset-body-line-height: 1.45; /* 1.4 to 1.6 */
  --ptt-reset-body-width: 65ch; /* 50ch to 80ch - p, li, h5, h6 */
  --ptt-reset-body-spacing: 0.012em; /* letter spacing */
  /* Headers exceptions */
  --ptt-reset-header-line-height: 1.1; /* 1 to 1.2 - h1, h2, h3, h4 */
  --ptt-reset-h1-width: 30ch;
  --ptt-reset-h2-width: 35ch;
  --ptt-reset-h3-width: 45ch;
  --ptt-reset-h4-width: 55ch;

  /* Better spacing between content */
  --ptt-reset-content-space-top: 0.5em;
  --ptt-reset-header-space-bottom: 0.75em; /* h1, h2, h3, h4 */
  --ptt-reset-header-space-top: 2em; /* h1: if not inside a header with role=banner */
}
