################################################################################
# Node
################################################################################

node_modules
package-lock.json
package.json

################################################################################
# Compiled Directories & Files
################################################################################

dist
public

################################################################################
# Libraries
################################################################################

**/assets/js/vendor
**/~partytown

################################################################################
# Project
################################################################################

postcss.config.*
browser-sync.*
.browserslistrc
manifest.json
*.snippet
ts-no.ts

package

################################################################################
# Testing
################################################################################

tests-examples