################################################################################
# Node
################################################################################

node_modules
package-lock.json
package.json

################################################################################
# Config Files
################################################################################

jest.config.ts
/root/*.ts
./*.cjs
./*.js
.browserslistrc

################################################################################
# Compiled Directories & Files
################################################################################

dist
dev

################################################################################
# Libraries
################################################################################

~partytown
vendor

################################################################################
# Project
################################################################################

manifest.json
*.snippet
ts-no.ts

package

################################################################################
# Testing
################################################################################

tests-examples