################################################################################
# Node
################################################################################

node_modules
package-lock.json
package.json

################################################################################
# Compiled Directories & Files
################################################################################

dist
public

################################################################################
# Project
################################################################################

postcss.config.*
browser-sync.*
.browserslistrc
manifest.json
*.snippet
ts-no.ts