// BEM: http://getbem.com/

// Layout: Sections, Grid, Flex, etc.

/*

.container {

#content
content: "";

#display
display: flex;
flex-direction: column;

#position
position: relative;
top: 10rem;
left: 10rem;
z-index: -1;

#box-model
background: inherit;
height: 30%;
padding: 2em;

#typography
color: #000;
font-size: 10rem;
text-align: center;

#decoration
border-radius: 0.5rem;
box-shadow: 0 0 20px rgba(0,0,0,1.0);

#manipulation
transform: perspective(10rem);
filter: blur(3rem);
opacity: 0.5;

#animation 

}

*/

/* ---[ Body ]------------------------------- */
body {
}

/* ---[ Wrapper ]------------------------------- */
m13-container {
}

/* ---[ Grid ]------------------------------- */

/* ---[ Header ]------------------------------- */

/* ---[ Main Nav ]------------------------------- */

/* ---[ Footer ]------------------------------- */

/* ---[ Content ]------------------------------- */

/* ---[ Content:Part ]------------------------------- */

/* ---[ Content Nav ]------------------------------- */

/* ---[ END ]------------------------------- */
